<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>AcreTrader | Farmland Investing Platform</title>
  <!--<style>.optimize-loading { opacity: 0 !important} </style>-->
  <!--<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;-->
<!--h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};-->
<!--(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;-->
<!--})(window,document.documentElement,'optimize-loading','dataLayer',4000,-->
<!--{<%= htmlWebpackPlugin.options.googleOptimizeAsyncHide %>:true});</script>-->
  <!--<style>.async-hide { opacity: 0 !important} </style>-->
  <!--<script>-->
  <!--(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;-->
    <!--h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};-->
    <!--(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);-->
  <!--})(window,document.documentElement,'async-hide','dataLayer',1000,-->
    <!--{<%= htmlWebpackPlugin.options.googleOptimizeAsyncHide %>:true});-->
  <!--</script>-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer',<%= htmlWebpackPlugin.options.googleTagManagerId %>);</script>
  <!-- End Google Tag Manager -->
  <link rel="shortcut icon" sizes="32x32" href="/static/img/favicon32x32.png" type="image/png">
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <meta name="description" content="Invest in U.S. agricultural land and start building a portfolio of quality farm land real estate for as little as $1,000.">
  <meta name="author" content="AcreTrader, Inc">
  <meta property="og:image" content="/static/img/sharing-image.png" />
</head>

<body itemscope="" itemtype="http://schema.org/WebPage">
<div id="app"></div>
<!-- built files will be auto injected -->
</body>

</html>
