$default-font: "roboto-example", sans-serif
$font-regular: "Montserrat"
$accent: orange
$White_color: #Fff
$Text_color: #333
$Accent_color: #F4b200
$Black: #000
$Background_Beige: #FDF9F0
$Borders_color: #7E848C
$blue: #63bbe2

@media only screen and (max-width: 40em)
	.none
		display: none
	header i.fa
		display: block
	.course-arranged .tabs-panel
		img
			display: none
	.top-menu
		display: none
	.entrance-cabinet
		display: none
	.mobile-menu
		top: 0
		width: 100vw
		position: absolute
		z-index: 999
		background: #fff
		//display: block
		i
			float: right
			font-size: 24px
			right: 25px
			margin-right: 25px
			margin-top: 15px
			color: $accent
		h4
			text-align: center
			font-size: 14px
		h5
			text-align: center
			font-size: 14px
		ul
			li
				display: block
				text-align: center
				a
					font-size: 14px
					line-height: 3.71
					font-weight: bold
		.media ul li
				display: inline-block

	footer
		.right
			float: none
	footer .footer-media ul li
		width: 54px

	.footer-media img
		width: 40px
	footer .footer .menu-footer
		margin-top: 48px
		margin-bottom: 48px
	footer .footer .menu-footer ul li
			text-align: center
			width: 100%
			display: block

	footer .footer-contact h4.title
		text-align: center
	footer .footer-contact h5
		text-align: center
	footer .footer .logo-block p
		text-align: center
	footer .footer .logo-block .logo-footer
		margin-bottom: 25px
		margin-left: 55px

	.calendar-block-row .button-group
		display: none
	.calendar-block-row img
		border-radius: 50%
		height: 110px
	.calendar-block .calendar-block-row .text-block
		padding-left: 20px
	.our-other-projects .our-projects-tw0-block
		margin-bottom: 60px
	.our-other-projects .our-projects-block
		margin-bottom: 60px
	.icon .row
		margin-top: 50px