@import "vars"
@import "fonts"
@import "libs"
@import "pages/main"
@import "pages/header"
@import "pages/footer"
@import "pages/button"



::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

