@import "vars"
@import "fonts"
@import "libs"
@import "pages/main"
@import "pages/header"
@import "pages/footer"
@import "pages/button"
@import "pages/calendar"
@import "pages/media"
@import "pages/come-in"


::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

