$default-font: "roboto-example", sans-serif
$font-regular: "Montserrat"
$accent: orange
$White_color: #Fff
$Text_color: #333
$Accent_color: #F4b200
$Black: #000
$Background_Beige: #FDF9F0
$Borders_color: #7E848C
$blue: #63bbe2


ul.navigation
	margin-top: 35px
	li.home	a
		color:	$Black

	li
		display: inline-block
		padding-left: 5px

		span
			padding-left: 10px


		a
			color: $Text_color
			font-size: 12px
			font-family: $font-regular
