// style for main page
$White_color: #Fff
$Text_color: #333333
$Accent_color: #F4b200

header
	height: 88px;


.logo
	padding: 17px 0 22px 0;	

.top-menu
	 padding-left: 0;

ul.main-nenu
	margin: 0;
	padding: 32px 0 32px 0;	
	line-height: 1;

ul.main-nenu li
	margin: 0 15px;
	line-height: 1;
	display: inline-block;
	color: $Text_color

ul.main-nenu li:first-of-type
	margin: 0 15px 0 5px;

ul.main-nenu li a	
	color: $Text_color
	font-size: 13px;
	font-weight: 400;
	line-height: 1

ul.main-nenu li a:hover
	border-bottom: 1px solid $Accent_color;

.entrance-cabinet 
	padding: 0;
  	
.entrance-cabinet ul
	margin: 0 0 0 30px;
	padding: 27px 0 27px 0;	  	

.entrance-cabinet ul li
	line-height: 1;
	display: inline-block;
	color: $Text_color
	margin: 0 12px 0 12px;


.entrance-cabinet ul li a
	font-size: 14px;
	color: $Text_color
	font-family: Montserrat;
	font-weight: normal;

.entrance-cabinet ul li.to-register	a
	color: $White_color
	background-color:  $Accent_color;
	padding: 11px 27px 13px 27px;
	border-radius: 28px;	
