// style for main page

$default-font: "roboto-example", sans-serif
$font-regular: "Montserrat"
$accent: orange
$White_color: #Fff
$Text_color: #333
$Accent_color: #F4b200
$Black: #000
$Background_Beige: #FDF9F0
$Borders_color: #7E848C
$blue: #63bbe2

.block-background-img
	background: url(../img/bg.png);
	height: 900px;
	object-fit: contain;
	background-repeat: no-repeat;
	background-position: top;

.block-background-img	.img 
			margin-top: 225px;

.block-background-img .add-kurs 
		margin-top: 90px;

		a
			font-family: $font-regular
			font-size: 17px;
			color: $White_color
			background-color:  $Accent_color;
			padding: 15px 50px 15px 50px;
			border-radius: 28px;



.block-first-stage h3.title
    font-size: 34px
    font-weight: 600
    color: $Black

.block-first-stage-bottom a
	border: 1px solid $Accent_color;
	width: 223px;
	border-radius: 28px;
	padding: 12px 50px;
	font-size: 13px;
	color: $Black;
	float: right;

.block-first-stage-bottom a:hover
	color: $White_color;
	background-color:  $Accent_color;

 
.block-first-stage
	font-family: $font-regular
   padding-top: 140px;
   margin-bottom: 140px;


.block-first-stage-top
   		margin-bottom: 70px;
.block-first-stage .first-block-active
	display: none
.block-first-stage .two-block-active
	display: none
.block-first-stage .three-block-active
	display: none
.block-first-stage .toggle
	margin-top: 60px

	.linck-1 p
		color: #000
		font-size: 14px
		font-weight: 600
		line-height: 22px
		display: inline-block
	.linck-1 p .border
		width: 25px
		border-bottom: 2px solid $Accent_color
	.linck-1 p:hover .border
		width: 100%
		border-bottom: 2px solid $Accent_color
.block-first-stage .block-active .toggle
	margin-top: 30px


.block-first-stage
	.block-stage
		padding: 30px;
		box-shadow: 0 13px 40px 0 rgba(0, 0, 0, 0.08);
	.block-active  ul
		margin: 0;

	.block-active  ul	li
			display: inline-block
			font-weight: normal
			font-size: 14px
			font-family: $font-regular

	.block-active  ul	li.title
			font-weight: 500
			font-size: 14px
			font-family: $font-regular


	.block-active p
		font-family: $font-regular
		margin: 35px 0 30px;
		font-weight: normal;
		font-size: 14px;
		line-height: 1.7;

	.block-active  ul	li.title
			font-weight: 500
			font-size: 14px
			font-family: $font-regular


	.block-active p
		font-family: $font-regular
		margin: 35px 0 30px
		font-weight: normal
		font-size: 14px
		line-height: 1.7
	.block-active  h6.title
		font-family: $font-regular
		font-weight: 500
		color: $Accent_color;
		font-size: 13px
		text-transform: uppercase;

	.block-active  h3.title
		font-family: $font-regular
		font-weight: 600
		color: $Black;
		font-size: 24px
			margin-bottom: 15px;

	.togle
		font-family: $font-regular
		font-size: 14px;
		font-weight: 600
		cursor: pointer;
		width: 25px;
		border-bottom: 2px solid transparent

  	







.togle:hover
	border-bottom: 2px solid $Accent_color;	

.two-block .text-block
	padding: 35px 35px 50px 35px; 	

	h6.title
		font-family: $font-regular
		font-weight: 500
		color: $Accent_color;
		font-size: 13px
		text-transform: uppercase;

	h3.title
		font-family: $font-regular
		font-weight: 600
		color: $Black;
		font-size: 24px	
		margin-bottom: 25px;

.two-block ul
  		margin: 0;

.two-block ul li
				font-family: $font-regular
				display: inline-block;
				font-weight: normal
				font-size: 14px


.two-block ul li.title
			font-family: $font-regular
  			font-weight: 500
  			font-size: 14px

.two-block .togle
	margin-top: 60px;		

.two-block .img img
	width: 100%;

.two-block 
	border: 1px solid rgba(126, 132, 140, 0.17);	

.block-icon 
	background-color:  $Background_Beige;
	width: 100%;
	padding-bottom: 100px;
	margin-top: 130px

	h3.title
		font-family: $font-regular
		margin-top: 78px;
		margin-bottom: 30px;
		text-align: center;
		line-height: 1;
		font-size: 40px
		font-weight: bold

	h6
		font-size: 14px;
		text-align: center;
		font-family: $font-regular
	.icon	
		padding-left: 50px;
		padding-right: 50px;



	.row-icon 
		margin-top: 50px;	

.how-course-work
	height: 240px;

.course-arranged
	margin-top: 225px;
	h2.title
		font-size: 40px
		line-height: 1.25
		font-weight: bold
		font-family: $font-regular
		margin-bottom: 110px
	ul.tabs
		background: none
		border: none
		li.is-active
			span.line
				width: 25px
				height: 3px
				background: $Accent_color
				display: inline-block
				margin: 0 10px 5px 0
		li
			span.line


			a
				font-size: 24px
				font-weight: 600
				font-family: $font-regular
				line-height: 2.08
				color: $Text_color
				padding: 0
				display: inline-block


			p
				opacity: 0.65
				font-size: 14px
				font-family: $font-regular
				font-weight: normal
				font-style: normal
				line-height: 1.71
	tabs-title a:focus, .tabs-title a[aria-selected=true]
		background: none
		color: $Text_color

	.tabs-content.vertical
		background: none
		border: none


.about-learning
	h2
		font-family: $font-regular
		font-size: 34px;
		font-weight: 600
		margin-top: 90px;

	span
		color: $Accent_color

	div.text
		font-family: $font-regular
		margin-top: 45px;
		line-height: 24px;

		p
			font-family: $font-regular
			font-size: 14px;

.our-other-projects
	.logo-img
		padding: 0 55px

.our-other-projects

	margin-top: 110px

	h2
		width: 100%
		text-align: center
		font-size: 34px
		font-weight: 600
		margin-bottom: 80px
		font-family: $font-regular

	.our-projects-block
		width: 100%
		border: 1px solid rgba(126,132,140,.17)
		padding: 40px 35px 58px 35px

		.img
			padding: 0 60px

		h6.our-projects-block-title
			text-align: center
			font-size: 14px
			font-weight: 600
			height: 24px
			margin-top: 32px
			font-family: $font-regular

		div.text
			p.text
				margin-top: 20px
				line-height: 24px
				text-align: center
				font-weight: normal
				letter-spacing: normal
				font-size: 14px
				color: $Text_color
				opacity: 0.65
				font-family: $font-regular

		.go-to-site
			text-align: center
			margin-top: 40px


		.go-to-site	a
			color: $Black
			font-size: 14px
			font-weight: 600
			line-height: 22px
			display: inline-block
			font-family: $font-regular

		.go-to-site	a .border
			width: 25px
			font-family: $font-regular
			border-bottom: 2px solid $Accent_color


		.go-to-site	a:hover .border
				width: 100%
				font-family: $font-regular
				border-bottom: 2px solid $Accent_color


	.our-projects-block:hover
		font-family: $font-regular
		box-shadow: 0 25px 65px rgba(0, 0, 0, 0.13)


	.our-projects-tw0-block
		width: 100%
		border: 1px solid rgba(126,132,140,.17)
		padding: 40px 35px 58px 35px

		.img
			padding: 0 115px

		h6.our-projects-block-title
			font-family: $font-regular
			text-align: center
			font-size: 14px
			font-weight: 600
			height: 24px
			margin-top: 20px

		div.text
			p.text
				font-family: $font-regular
				margin-top: 20px
				line-height: 24px
				text-align: center
				font-weight: normal
				letter-spacing: normal
				font-size: 14px
				color: $Text_color
				opacity: 0.65

		.go-to-site
			font-family: $font-regular
			text-align: center
			margin-top: 40px


		.go-to-site	a
			font-family: $font-regular
			color: $Black
			font-size: 14px
			font-weight: 600
			line-height: 22px
			display: inline-block

		.go-to-site	a .border
			width: 25px
			border-bottom: 2px solid $Accent_color


		.go-to-site	a:hover .border
			width: 100%
			border-bottom: 2px solid $Accent_color
	.our-projects-tw0-block:hover
		box-shadow: 0 25px 65px rgba(0, 0, 0, 0.13)
	.our-projects-third-block:hover
		box-shadow: 0 25px 65px rgba(0, 0, 0, 0.13)
	.our-projects-third-block
		width: 100%
		border: 1px solid rgba(126,132,140,.17)
		padding: 40px 35px 35px 35px

		.img
			padding: 0 115px

		h6.our-projects-block-title
			font-family: $font-regular
			text-align: center
			font-size: 14px
			font-weight: 600
			height: 24px
			margin-top: 27px
		div.text
			p.text
				font-family: $font-regular
				margin-top: 20px
				line-height: 24px
				text-align: center
				font-weight: normal
				letter-spacing: normal
				font-size: 14px
				color: $Text_color
				opacity: 0.65

		.go-to-site
			font-family: $font-regular
			text-align: center
			margin-top: 40px


		.go-to-site	a
			color: $Black
			font-size: 14px
			font-weight: 600
			line-height: 22px
			display: inline-block

		.go-to-site	a .border
			width: 25px
			border-bottom: 2px solid $Accent_color


		.go-to-site	a:hover .border
			width: 100%
			border-bottom: 2px solid $Accent_color
.calendar-block
	margin-top: 180px

	h2.title
		font-family: $font-regular
		font-size: 34px
		font-weight: 600
		line-height: 50px
		color: $Black

	div.text
		p.text
			font-family: $font-regular

			margin-top: 20px
			margin-bottom: 45px
			font-size: 14px
			opacity: 0.65
			font-weight: normal
			line-height: 1.71
			color: $Text_color
			font-family: $font-regular
	.calendar-block-row:hover
		background-color: $Background_Beige



	.calendar-block-row
		width: 100%
		padding: 25px 16px



		.img
			padding: 0

		.text-block
			font-family: $font-regular
			padding: 0

			ul
				margin: 0
			ul.first
				font-family: $font-regular
				margin: 25px 0 0 0
			ul li
				font-family: $font-regular
				display: inline-block
				line-height: 24px
				font-size: 14px
				font-weight: normal
				color: $Text_color
				font-family: $font-regular

			ul li.title
				font-weight: 500
				font-family: $font-regular

		h3.title
			font-family: $font-regular
			font-size: 14px
			font-weight: 600
			line-height: 22px
		.block
			display: block
			width: 100%
		.button-group
			padding: 0

			.right
				float: right

			.button-2
				padding: 11px 33px 13px 33px

			.linck span
				font-family: $font-regular
				margin-top: 50px



.take-colection
	margin-top: 125px

	.column
		padding: 0




.take-colection-background
	padding-top: 125px
	background: url(../img/deposiphotos-181335368-stock-photo-portrait-lady-sporty-top-leggings.png)
	height: 607px
	object-fit: contain
	background-repeat: no-repeat
	background-position: top

.take-colection

	h2.title
		font-weight: 600
		font-size: 34px
		line-height: 1.47
		color: $White_color

	div.text p.text
		font-size: 14px
		font-weight: 500
		line-height: 1.71
		color: $White_color

	.button-group
		margin-top: 60px





.right
	float: right

